<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <p>Your application for the role of "{{job['title']}}" is submitted</p>
      <h4>Full Name</h4>
      <div class="mb-2">
        {{application['full_name']}}
      </div>
      <h4>E-mail</h4>
      <div class="mb-2">
        {{application['email']}}
      </div>
      <h4>LinkedIn URL</h4>
      <div class="mb-2">
        {{application['linkedin']}}
      </div>
      <h4>Educatione</h4>
      <div class="mb-2">
        {{application['education']}}
      </div>
      <h4>Work Experience</h4>
      <div class="mb-2">
        {{application['work_experience']}}
      </div>
    </div>
    {% include 'footer.html' %}
  </bodymai/html>