<!DOCTYPE html>
<html>
<head>
    <title>My Title</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include "nav.html" %}
    {% include "banner.html" %}
<!--     套入bootstrap CSS後 div tag class 設成container就會自動置中 -->
    <div class="container">
<!--       mt-2 mb-4 表示margintop, margin bottom 2,4表示margin多寡 text-center, bootstrap模板-->
      <h1 class="text-center mt-2 mb-4">PY Carrer</h1>

  <!--p tag is paragraph 用col切成左右, 圖文-->
      <div class="row" style="margin-bottom:30px;">
<!--         col-md-6 medium device寬度(720px)以上時才以col-6顯示 -->
        <div class="col-md-6">
          <p class="lead">
            this is a dummy paragraph, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
<!--         本來不顯示d-none, 只在md時顯示block, d-md-block col-md-6 -->
        <div class="d-none d-md-block col-md-6">
<!--           border-radius:切圓角 -->
          <img src="/static/people.jpg" style="height:320px; border-radius:20px">
        </div>
      </div>
      <h3 class="text-center">Opening position</h3>
<!--       用jinjia2 template將render_template arguments傳到html -->
      <div>
        {% for job in jobs %}
<!--         把要loop的內容移到其他html, 之後再include 每次for 就執行那個html -->
          {% include 'jobitem.html' %}
        {% endfor %}
      
      </div>
<!--       button置中也用div包起來, 再把text-align:center button就會置中。 -->
      <div class="text-center">
        <button class="btn btn-primary btn-lg text">Contact us</button>
        <p>copyright, 2023, PY</p>
      </div>
      
    </div>
<!-- 載入網頁最下方的欄位, 叫做footer -->
    {% include "footer.html" %}
</body>
</html> 